USE AppointmentSystem;

--1. SELECT --
SELECT AppointmentID, ClientID, StaffID, AppointmentDateTime, Status 
FROM Appointments;

--2. INSERT --
INSERT INTO Clients (FirstName, LastName, Email, PhoneNumber) 
VALUES ('Kalli', 'Juni', 'kalli.juni@email.com', '09123456791');

INSERT INTO Appointments (ClientID, ServiceID, StaffID, AppointmentDateTime, Status) 
VALUES (11, 1, 1, '2026-04-22 10:00:00', 'Scheduled');

-- 3. UPDATE --
UPDATE Appointments 
SET Status = 'Completed' 
WHERE AppointmentID = 1;

UPDATE Clients 
SET Phone = '09991234567' 
WHERE ClientID = 2;

--4. DELETE --
DELETE FROM Appointments 
WHERE AppointmentID = 5 AND Status = 'Cancelled';

--5. JOIN --
SELECT 
    a.AppointmentID,
    c.FirstName,
    c.LastName,
    s.ServiceName,
    st.FirstName AS StaffFirstName,
    st.LastName AS StaffLastName,
    a.AppointmentDateTime,
    a.Status
FROM Appointments a
JOIN Clients c ON a.ClientID = c.ClientID
JOIN Services s ON a.ServiceID = s.ServiceID
JOIN Staff st ON a.StaffID = st.StaffID;

--6. SUBQUERY --
SELECT FirstName, LastName
FROM Clients
WHERE ClientID IN (
    SELECT DISTINCT ClientID 
    FROM Appointments 
    WHERE ServiceID IN (
        SELECT ServiceID 
        FROM Services 
        WHERE Price > 500
    )
);